*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }

.main {
  min-height: 17em; }

.container {
  margin: 0 auto;
  max-width: 68.75rem;
  padding: 0 2.25rem; }

.form-section {
  border: 1px solid #dcdcdc;
  margin-top: 3.375rem;
  padding: 2.25rem 5.625rem;
  position: relative; }
