.main {
	min-height: 17em; // 272px;
}

.container {
	margin: 0 auto;
	max-width: 68.75rem;
	padding: 0 2.25rem;
}

.form-section {
	border: 1px solid $color-grey;
	margin-top: 3.375rem;
	padding: 2.25rem 5.625rem;
	position: relative;
}

.form-section__title {
	background: $color-white;
	color: $color-dark-grey;
	font-size: 1.875rem;
	font-weight: 400;
	margin-left: -1.125rem;
	padding: 1.125rem;
	position: absolute;
	top: -2.8125rem;

}