*,
*::after ,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// ----- Colors -----
$color-darkest-grey: #505050;
$color-dark-grey: #8696aa;
$color-grey: #dcdcdc;
$color-white: #ffffff;


body {
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

