*,
*::after ,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// ----- Colors -----
$color-grey: #dcdcdc;


body {
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

